<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Login Page</h1>
        <form method="post">
            {% csrf_token %}
            <label for="un">Username</label>
            <input type="text" id="un" name="un"><br><br>
            <label for="pw">Password</label>
            <input type="text" id="pw" name="pw"><br><br>
            <input type="submit" value="Login">
        </form>
    </center>
</body>

</html>